*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 50vh;
}
header{
    background-color: #00597b;
    text-align: center;
    color: #ffffff;
    height: 10%;
}
.contenedor{
    background-color: #d2d2d2;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    font-family: 'EB Garamond', serif;
}
.item{
    background-color: #e7e7e7;
    box-shadow: 3px 3px 5px #8f8f8f;
    margin: 15px ;  
}
.contenedor .item:nth-child(1), .contenedor .item:nth-child(2){
    flex: 25;
    padding: 15px;
    text-align: justify;
}
.contenedor .item:nth-child(3){
    flex: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    text-align: justify;
}
main{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-around;
    
}
button{
    margin-top: 20px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-image: linear-gradient(#e7e7e7,#8f8f8f);
    border: 1px solid #afafaf;
}
h2{
    margin-bottom: 15px;
}
